@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

:root {
    --border    : 1px solid #ccc;
    --cell-size : 25px;
    font-family: "Roboto", sans-serif;
    background: #fcfcf7;
    color: #222;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

hr {
    border: 1px inset #e0e0dd;
}

button {
    padding: 3px 5px;
}

input[readonly] {
    opacity: 0.5;
}

label input, label + button {
    margin-left: 5px;
}

ul {
    padding-left: 20px;
    margin: 0;
}

.list-header {
    list-style-type: none;
}

#grid-container {
    overflow: hidden;
}

.grid {
    font-size : 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    width: var(--cell-size);
    height: var(--cell-size);
    border: var(--border);
    margin: 1px;
}

#gameplay-header, #controls {
    display: flex;
    justify-content: space-between;
}

#controls > div {
    margin-right: 20px;
}

#tokens {
    white-space: nowrap;
}

#tokens button {
    border: 1px solid #c2bebe;
    border-radius: 2px;
    margin-right: 2px;
}

#tokens button.selected {
    border-color: #1779ba;
    background: #ebe8e8;
}

#gameplay-area {
    display: flex;
}

#players .is-player {
    font-weight: bold;
}

#lobby {
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 10px;
}

#lobby label {
    color: #555;
}

#lobby input {
    display: block;
    width: 100%;
    margin: 0;
    padding: 2px;;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    button {
        padding: 5px 8px;
        font-size: 15px;
    }

    #gameplay-header {
        flex-direction: column;
    }

    #color {
        display: flex;
        align-items: center;
    }

    .cell {
        width: calc(2 * var(--cell-size));
        height: calc(2 * var(--cell-size));
    }

    #gameplay-area {
        flex-direction: column;
    }

    #players {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    #players li {
        margin-right: 5px;
    }

    #session {
        display: none;
    }
}
